body {
    font-family: Helvetica;
    font-weight: bold;
    text-align: center;
}
.bg-black {
    background-color: black;
    color: white;
}
.bg-white {
    background-color: white;
    color: black;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.flex-space {
    justify-content: space-between;
    width: 100%;
}
.flex-column {
    flex-direction: column;
}

header .splash {
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align:center;
    height: 15rem;
}

header nav {
    background-color: firebrick;
    color: white;
    text-align: center;
    padding: 1rem;
}
header .splash-banner {
    position: relative;
    top: 10rem;
    padding-top: 1rem;
    padding-left:2rem;
    text-align: left;
}
header .splash-banner h4 {
    font-size: .77rem;
}
header .splash-banner h2 {
    font-size: 1rem;
}
header nav span {
    margin:0;
}
header nav ul {
    display:none;
}
.header-logo {
    width: 12%;
    margin: auto 1rem;
}
.header-title {
    justify-content: flex-start;
    height: 3rem;
}
.header-title span {
    margin: auto 0;
}



main {
    width:90%;
    margin: auto;
}
.items figure {
     border: 2px solid black;
    display:none;
}
.items figure:first-child {
    display:flex;
}
figure img{
   height: 60%;
   width: 60%;
   margin: 2.3rem;
}
.section-item {
    margin: .5rem;
}
.header-box {
    padding: 1rem 2rem;
}
p.header-box {
    width: 100%;
}
.contact-header {
    text-align: left;
    margin-bottom: .5rem;
}
.contact-info {
    text-align: left;
}

footer {
    margin-top: 2rem;
    padding: 4rem 0;
}
